* {
    /* background-color: darkgrey; */
    /* align-content: center; */
    /* justify-content: center; */
    text-align: left;
    font-family: fantasy;
}
h1 {
    position: absolute;
    top: 0%;
    left: 0%;
    text-align: left;
    margin: 20px;
}
h3 {
    text-align: center;
    font-size: 20px;
}
body {
    /* background-color: darkolivegreen; */
    /* background-color: saddlebrown; */
    background-color: sienna;
    font-family: fantasy;
    display: flex;
    justify-content: center;
}
ul {
    font-size: 25px;
    justify-content: left;
    list-style-type: none;
}
.speakButton {
    /* height: 45px; */
    width: 100px;
    font-size: 25px;
    text-align: center;
    /* align-items: center; */
    border-radius: 2px;
    background-color: lightgray;
    padding: 4px;

}
.sitButton {
    /* height: 45px; */
    width: 150px;
    font-size: 20px;
    text-align: center;
    /* align-items: center; */
    border: 2px solid black;
    border-radius: 2px;
    background-color: lightgray;
    margin: 15px;
    padding: 4px;
}
.modal {
    background-image: url('pics/calmingModalBackground.jpg');
    padding: 10px;
    /* height: 50vw;
    width: 50vw;
    max-width: 500px;
    max-height: 500px; */
    height: 600px;
    width: 600px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    top: 45%;
    transform: translateY(-45%);
    left: 0;
    right: 0;
    margin: 0 auto;
    display: none;
}
.open {
    display: block;
    text-align: center;
}
.closed {
    display: none;
}
.irohBegin {
    width: 70%;
    vertical-align: baseline;
}
.scoreboard {
    position: absolute;
    top: 10%;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    margin: 15px;
}
.scores {
    display: flex;
    flex-direction: row;
    justify-content: left;
    min-width: 100px;
    font-size: 30px;
}
.board {
    position: absolute;
    top: 3%;
    left: 35%;
    background-color: grey;
    /* width: 80%;
    height: 60%; */
    width: 450px;
    height: 850px;
    display: flex;
    align-items: center;
    flex-direction: column; /* this was magic for board rotating */
    justify-items: center;
    border: 10px solid black;
    border-radius: 30px;
    /* text-align: center; */

}
.grid {
    /* iroh's right hand gets clipped. make the board a little bigger. */

    /* width: 80%;
    height: 80%; /*padding-top: 100% for a 1-1 ratio?? */
    width: 350px;
    height: 350px;
    background-color: darkgreen;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    /* align-content: space-between; */
    /* justify-content: space-between; */
}

/* .peeps {

} */

.spaces {
    width: 10%;
    height: 10%;
    padding: 1%;
    box-sizing: border-box;
    border: 1px solid darkgreen;
    border-radius: 5px;
    background: green;
    text-align: center;
}
.edgeSpaces {
    background-color: darkgreen;
    border-radius: 10px;
    font-family: fantasy;
    font-size: 25px;
    align-content: center;
    /* display: none; */
    /* can choose later to reformat based on 8x8 grid with "display-none" for the edge spaces. */
    /* for now that's not worth the effort...maybe never. */
}
.gameSpaces {
    border-left: 1px solid black;
    border-top: 1px solid black;
}
.pieces {
    background-color: darkgreen;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

/* .empty {    value = 0 for a space with no piece, piece matches background 
    background-color: darkgreen;
} */

.white {    /* value = 1 for a space with no piece, piece matches background */ 
    background-color: white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.black {    /* value = 2 for a space with no piece, piece matches background */ 
    background-color: black;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}


