* {
    /* background-color: darkgrey; */
    /* align-content: center; */
    /* justify-content: center; */
    text-align: center;
}
body {
    /* background-color: darkolivegreen; */
    /* background-color: saddlebrown; */
    background-color: sienna;
    font-family: fantasy;
}
ul {
    font-size: 25px;
    justify-content: left;
    list-style-type: none;;
}
.modalDisplayOff {
    display: none;
}
.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.scores {
    display: flex;
    flex-direction: row;
    justify-content: left;
    min-width: 100px;
    font-size: 30px;
}
.board {
    /* JUST HAD AN IDEA. MAKE THE BOARD REALLY WIDE AND 
    TURN THE BOARD INTO A SEATING AREA FOR
    TWO CHARACTERS IT WILL SHOW SITTING AT THE BOARD
    .GRID IS ENOUGH TO BE THE BOARD ON ITS OWN */
    position: absolute;
    top: 10%;
    left: 30%;
    background-color: grey;
    /* width: 80%;
    height: 60%; */
    width: 500px;
    height: 898px;
    display: flex;
    align-items: center;
    flex-direction: column; /* this was magic for board rotating */
    justify-items: center;
    border: 10px solid black;
    border-radius: 30px;
}
.grid {
    /* width: 80%;
    height: 80%; /*padding-top: 100% for a 1-1 ratio?? */
    width: 400px;
    height: 400px;
    background-color: darkgreen;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    /* align-content: space-between; */
    /* justify-content: space-between; */
    
}
/* .peeps {

} */
.spaces {
    width: 10%;
    height: 10%;
    padding: 1%;
    box-sizing: border-box;
    border: 1px solid darkgreen;
    border-radius: 5px;
    background: green;

}
.edgeSpaces {
    background-color: darkgreen;
    border-radius: 10px;
    font-family: fantasy;
    font-size: 30px;
    /* display: none; */
    /* can choose later to reformat based on 8x8 grid with "display-none" for the edge spaces. */
    /* for now that's not worth the effort...maybe never. */
}
.gameSpaces {
    border-left: 1px solid black;
    border-top: 1px solid black;
}
.pieces {
    background-color: darkgreen;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

/* .empty {    value = 0 for a space with no piece, piece matches background 
    background-color: darkgreen;
} */

.white {    /* value = 1 for a space with no piece, piece matches background */ 
    background-color: white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.black {    /* value = 2 for a space with no piece, piece matches background */ 
    background-color: black;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}


